.badge .badge-more {
    border-left: 1px solid white;
    padding-left: 3px;
}

.entry {
  border-bottom: 1px solid #efefef;
  padding-bottom: 1em;
  padding-top: 1em;  
}
.messages > ul > li {
  padding-bottom: 1em;
  padding-top: 1em;  
}

.messages .card-body img{
  max-height: 200px;
}

.message-chatbot {
  border-color: rgb(162, 207, 255);
}

/* ML visualisation*/


.widget {
  margin-bottom: 10px;
  border-bottom: 1px #efefef solid;
  
  /*max-height: 330px;
  overflow: scroll;  */
}
.widget > div{
  padding-bottom: 10px;
}
.widget p {
  margin-bottom: 0.2rem;
}

.widget .small {
  font-size: .7em;
}

.likert {
  text-align: center;
}
.likert .badge{
  width: 1em;
  height: 1em;
  margin-right: 10%;
  border-radius: 0;
}

.likert span {
  background: lightgray;
  opacity: 0.4;
}
.likert-very_unlikely span:nth-child(1) {
  background: #007bff;
  opacity: 0.4;
}
.likert-unlikely span:nth-child(1),
.likert-unlikely span:nth-child(2) {
  background: #007bff;
  opacity: 0.6;
}
.likert-possible span:nth-child(1),
.likert-possible span:nth-child(2),
.likert-possible span:nth-child(3) {
  background: #007bff;
  opacity: 0.8;
}
.likert-likely span:nth-child(1),
.likert-likely span:nth-child(2), 
.likert-likely span:nth-child(3),
.likert-likely span:nth-child(4) {
  background: #007bff;
  opacity: 0.9;
}
.likert-very_likely span:nth-child(1),
.likert-very_likely span:nth-child(2), 
.likert-very_likely span:nth-child(3),
.likert-very_likely span:nth-child(4),
.likert-very_likely span:nth-child(5){
  background: #007bff;
  opacity: 1;
}

.e-VERY_LIKELY {
  color: green;
  font-weight: bold;
}
.e-LIKELY {
  color: green;
}
.e-VERY_UNLIKELY {
  color: lightgray;
}
.e-UNLIKELY {
  color: gray;
}

.colors{
  display: flex;
  width: 100%;
  height: 20px;
}

.img-labels .small{
  margin-bottom: 2px;
  line-height: 1.6em;
  font-size: .7em;
}

